[Desktop Entry]
Type=Application
Name=MintSkin
GenericName=Skin Manager
GenericName[pt_BR]=Gerenciador de visuais
Comment=Switch your Cinnamon desktop look with one click
Comment[pt_BR]=Troque o visual do seu Linux Mint com um clique
Exec=mintskin %f
Icon=mintskin
Terminal=false
Categories=Settings;DesktopSettings;GTK;
Keywords=theme;skin;look;panel;dock;macos;tema;visual;aparencia;
MimeType=application/x-mintskin;
StartupNotify=true
OnlyShowIn=X-Cinnamon;
